<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container">
        <a href="#" class="navbar-brand">
            <img src="assets/images/votingsystem.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <strong>Restaurant Voting System</strong>
        </a>
        <a *ngIf="isUserLoggedIn()" routerLink="/profile" class="btn btn-sm btn-outline-secondary">
            <span>Profile</span>
            <i class="fas fa-user-alt ml-1"></i>
        </a>
        <a *ngIf="!isUserLoggedIn()" (click)="routeToLogin()" class="btn btn-sm btn-outline-secondary">
            <span>Login</span>
            <i class="fas fa-sign-in-alt ml-1"></i>
        </a>
    </div>
</div>
