<div class="container mt-2">
    <div class="row">
        <!-- loop over the collection of restaurants-->
        <div *ngFor="let tempRestaurant of restaurants" class="col-md-4 mb-4">

            <a routerLink="/restaurants/{{ tempRestaurant.id }}">
                <img src=" {{ tempRestaurant.imageUrl }}" class="img-fluid">
            </a>

            <a routerLink="/restaurants/{{ tempRestaurant.id }}">
                <h1 class="text-truncate">{{ tempRestaurant.name }}</h1>
            </a>
            <h3 class="text-truncate">{{ tempRestaurant.address }}</h3>
        </div>
    </div>

    <!-- if restaurants is empty then display a message -->
    <div *ngIf="restaurants?.length == 0" class="container">
        <div class="row">
            <h4 class="alert alert-warning col-md-12">No restaurants found.</h4>
        </div>
    </div>
</div>