<div class="container mt-2">
    <div class="form-inline">
        <input #myInput type="text" placeholder="Search for restaurants" class="form-control mr-sm-2"
            (keyup.enter)="doSearch(myInput.value)">
        <button (click)="doSearch(myInput.value)" class="btn btn-outline-success my-2 my-sm-0">
            Search
        </button>

        <!-- Show/not show 'Add Restaurant' button based on showAddRestaurantButton value-->
        <a [hidden]="!isAdmin()" *ngIf="showAddRestaurantButton" routerLink="/restaurant-form" class="btn btn-info ml-2">Add restaurant</a>
    </div>
</div>