<div *ngIf="menu.dishes.length == 0 && currentDishes.length == 0" class="container">
    <h4>The restaurant has not provided it's today's lunch menu yet</h4>
</div>

<div *ngIf="menu.dishes.length > 0 || currentDishes?.length > 0" class="container">
    <h3 class="mb-4">Today's Lunch Menu</h3>
</div>

<div *ngIf="currentDishes?.length > 0" class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th style="width: 60%">Name</th>
                <th style="width: 20%">Price</th>
                <th [hidden]="!isAdmin()" style="width: 20%">Action</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let tempDish of currentDishes">
                <td class="align-middle text-break">{{ tempDish.name }}</td>
                <td class="align-middle text-break">{{ tempDish.price }} rub.</td>
                <td [hidden]="!isAdmin()" class="align-middle">
                    <button [hidden]="!isAdmin()" (click)="makeDishFormGroupForUpdate(tempDish.name, tempDish.price)" type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#addDishModal"><i class="fa fa-pencil-alt" aria-hidden="true"></i></button>            
                    <button [hidden]="!isAdmin()" (click)="deleteDish(tempDish.name)" class="btn btn-danger btn-sm ml-1"><i class="fa fa-minus" aria-hidden="true"></i></button>     
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <button [hidden]="!isAdmin()" (click)="makeDishFormGroup('', 0, true)" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addDishModal">Add dish</button>
    </div>
</div>

<!-- Save MenuTo (current dishes), show this button only if menu.dishes and current dishes are not equal-->
<div class="row mt-4">
    <div *ngIf="!isDishArraysEqual()" class="col-md-12">
        <button [hidden]="!isAdmin()" (click)="publishTodayMenu()" class="btn btn-warning mb-2">Save changes</button>
    </div>
</div>

<!-- Dish Modal Form -->
<div class="modal draggable fade bd-example-modal-lg" id="addDishModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">New Dish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <div>
                    <form [formGroup]="dishFormGroup" (ngSubmit)="onSubmit()">
                        <div formGroupName="dish" class="text-left">

                            <div class="form-group">
                                <label for="name">Dish Name</label>
                                <input formControlName="name" type="text" class="form-control" placeholder="Dish name">
                                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="name.errors.required || name.errors.notOnlyWhitespace">
                                        Dish Name is required
                                    </div>
                                    <div *ngIf="name.errors.minlength">
                                        Dish Name must be at least 2 characters long
                                    </div>
                                    <div *ngIf="name.errors.duplicateName">
                                        Dish with this name already exists
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="price">Dish Price</label>
                                <input formControlName="price" type="number" class="form-control" placeholder="Dish price">
                                <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger mt-1">
                                    <div *ngIf="price.errors.required">
                                        Dish Price is required
                                    </div>
                                    <div *ngIf="price.errors.minOne">
                                        Dish Price must be greater than 0
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-info btn-block">Save</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="dish-modal-close">Close</button>
            </div>
        </div>
    </div>
</div>