<!-- <div *ngIf="menu.dishes.length == 0" class="container">
    <h4>The restaurant has not provided it's today's lunch menu yet</h4>
</div> -->
<div *ngIf="currentDishes.length == 0" class="container">
    <h4>The restaurant has not provided it's today's lunch menu yet</h4>
</div>

<div *ngIf="currentDishes?.length > 0" class="container">
    <h3 class="mb-4">Today's Lunch Menu</h3>
    <div *ngFor="let tempDish of currentDishes">
        <div class="row">
            <div class="col-md-5">
                <h4 class="text-left">{{ tempDish.name }}</h4>
            </div>
            <div class="col-md-5">
                <h4 class="text-right">{{ tempDish.price }} rub.</h4>
            </div>
            <div class="col-md-2">
                <button (click)="deleteDish(tempDish.name)" class="btn btn-danger btn-sm">X</button>
            </div>
        </div>
    </div>
</div>

<!-- <div *ngIf="newDishes?.length > 0" class="container">
    <div *ngFor="let tempNewDish of newDishes">
        <div class="row text-danger">
            <div class="col-md-6">
                <h4 class="text-left">{{ tempNewDish.name }}</h4>
            </div>
            <div class="col-md-6">
                <h4 class="text-right">{{ tempNewDish.price }} rub.</h4>
            </div>

        </div>
    </div>
</div> -->

<!-- <div class="row mt-4">
    <div *ngIf="menu.dishes?.length > 0" class="col-md-12">
        <button (click)="vote()" class="btn btn-primary">Want to lunch here!</button>
    </div>
</div> -->

<div class="row mt-4">
    <div class="col-md-12">
        <button (click)="addDish()" class="btn btn-secondary">Add dish</button>
    </div>
</div>

<!-- <div class="row mt-4">
    <div *ngIf="isUpdated == true" class="col-md-12">
        <button (click)="publish()" class="btn btn-warning">Save changes</button>
    </div>
</div> -->

<div class="row mt-4">
    <div *ngIf="!isEqual()" class="col-md-12">
        <button (click)="publish()" class="btn btn-warning">Save changes</button>
    </div>
</div>

