<div class="container mt-2">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ restaurant.imageUrl }}" class="img-fluid">

            <div class="row">
                <h1 class="col-md-8 text-break">{{ restaurant.name }}</h1>

                <div class="col-md-4 text-right mt-2">

                    <a [hidden]="!isAdmin()" [routerLink]="['/restaurant-form']"
                        [queryParams]="{id: restaurant.id, name: restaurant.name, address: restaurant.address, imageUrl: restaurant.imageUrl}"
                        class="btn btn-warning mr-1"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>

                    <button [hidden]="!isAdmin()" (click)="deleteRestaurant()" class="btn btn-danger"><i class="fa fa-trash-alt"
                            aria-hidden="true"></i></button>
                     
                            <!-- Show 'Vote' button based on voteButtonStatus value-->
                    <span *ngIf="voteButtonStatus">
                        <button (click)="voteForRestaurant()" class="btn btn-primary ml-1"><i class="fa fa-thumbs-up"
                                aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>

            <div class="row mb-2">
                <h3 class="col-md-12 text-break">{{ restaurant.address }}</h3>
            </div>
        </div>

        <div class="col-md-6 text-center">
            <app-menu-today [restaurantId]="restaurant.id" [restaurantName]="restaurant.name"></app-menu-today>
        </div>
    </div>
</div>